@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
}

.scroll-menu::-webkit-scrollbar {
  display: none;
}

.scroll-menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-background {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );
}

/* .dev-bg {
  background-image: url("../../public/ellipse-bg.png");
  background-repeat: no-repeat;
  object-fit: fill;
} */
