@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
}

.scroll-menu::-webkit-scrollbar {
  display: none;
}

.scroll-menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-background {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );
}

.parent:hover .icon {
  color: white;
}

.bg-1 {
  background-image: url("../../public/xl-register-sandbox.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-2 {
  background-image: url("../../public/xl-setup-integration.svg");
  background-repeat: no-repeat;
}

.bg-3 {
  background-image: url("../../public/xl-test-go-live.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
